<%- include('includes/head.ejs')%>

<body>
  <%- include('includes/navigation.ejs') %>
  <h1>Some Error Occures!..</h1>
  <p>We are working on it. Sorry for inconvenience</p>
  <%- include('includes/end.ejs')%>
</body>
